* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: "FF Mark W05", Arial, sans-serif;
    background-color: #D9D9D9;
    text-decoration: none;
    list-style: none;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

/* Header styles */

.logobar {
    background-color: black;
    color: #f4f4f4;
    padding: 0.625em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    max-height: 9.31em;
    top: 0;
    z-index: 1000;
}

.logobar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.logobar li {
    margin-right: 1.25em;
}

.logobar a {
    text-decoration: none;
    font-weight: bold;
    font-size: 32px;
    color: #f4f4f4;
}

/* Body code*/

.title_table{
  padding-bottom: 1em;
  padding-left: .5em;
  font-size:x-large;
  color: #fff;
}
.container {
  padding-top: 7em;
  padding-bottom: 4em;
  margin-top: 9em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 28.5em;
  overflow-y:scroll;
}

.form-wrapper {
  max-height: 30.5em;
  max-width: 36em;
  width: 100%;
}

.form {
  background-color: black;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.form-group {
  margin-bottom: 20px;
}
.form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  gap: 3em;
}

.form-group {
    width: 48%;
}


@media (max-width: 768px) {
    .form-row {
        flex-direction: column;
    }

    .form-group {
        width: 100%;
    }
}
  
.form-group label {
  font-weight: bold;
  font-size: 14px;
  color: #ccc;
  display: block;
  margin-bottom: 5px;
}
  
.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background-color: #1F2937;
  border: none;
  color: #757575;
}
  
.button-group {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
}

  .google-btn,
  .apple-btn {
    min-width:21em;
    max-width: 21em;
    max-height: 3em;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #fff;
    color: #777;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .google-btn:hover,
  .apple-btn:hover {
    background-color: #ddd;
  }
  
  .signup-btn {
    width: 28em;
    padding: 10px 20px;
    background-color: #2563EB;
    color: #fff;
    font-weight: bold;
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 25%;
  }
  
  .signup-btn:hover {
    background-color: #0056b3;
  }
  
  .login-link {
    text-align: center;
  }
  
  .login-link a {
    font-size: 12px;
    color: #777;
    text-decoration: none;
  }
  
  .login-link a:hover {
    text-decoration: underline;
  }

/* Footer styles */

.footer {
  padding-top: 2em;
  background-color: black;
  color: #f4f4f4;
  bottom: 0;
  min-height: 9em;
  width: 100%;
  font-family: "FF Mark W05", Arial, sans-serif;
  text-decoration: none;
  position: absolute;
  display: block;
}

.footer__col {
  margin-left: 3%;
  margin-right: 3%;
  display: flex;
  justify-content:space-between;
}

/* Payment methods */
.footer__col-upper{
  display:block;
}
.payment-methods li {
  align-content: left;
  vertical-align: top;
  display: inline;
  align-self: right;
}

/* Social icons */

.footer-social-icons {
  min-height: 4em;
  width: 21.875em;
  display:block;
  margin: 0 auto;
}
.social-icon {
  color: #fff;
}
ul.social-icons {
  min-height: 4em;
  margin-top: 0.625em;
}
.social-icons li {
  vertical-align: top;
  display: inline;
  height: 2.3em;
  width: 2.3em;
}
.social-icons a {
  min-height: 2.3em;
  color: #fff;
  text-decoration: none;
}
.fa-facebook {
  padding:10px 14px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #322f30;
}
.fa-facebook:hover {
  background-color: #3d5b99;
}
.fa-twitter {
  padding:10px 12px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #322f30;
}
.fa-twitter:hover {
  background-color: #00aced;
}
.fa-youtube {
  padding:10px 14px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #322f30;
}
.fa-youtube:hover {
  background-color: #e64a41;
}
.fa-linkedin {
  padding:10px 14px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #322f30;
}
.fa-linkedin:hover {
  background-color: #0073a4;
}

/* contact info */

.footer_col-right {
  position: absolute;
  right: 2.19em;
  bottom: 2.19em;
  
}

/* copyright */

.copyright {
  position: absolute;
  left:50%;
  bottom: 0%;
  transform: translate(-50%,-50%);
  font-weight: bold;
  color:#818080; 
}