<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>singup</title>
  <link rel="stylesheet" href="../css/signup.css">
</head>

<body>
  <header>
    <nav class="logobar">
      <div class="logo_nav">
        <img src="./images/logoOtaku.png" alt="otaku_logo" width="90vw" height="90vh">
      </div>
      <div class="selection">
        <ul class="logobar-menu">
            <li><a href="/">Inicio</a></li>
            <li><a href="/shop">Tienda</a></li>
            <li><a href="/news">Noticias</a></li>
        </ul>
      </div>
      <div class="user_menu">
          <ul class="logobar-menu">
              <li><a href="/login">Login</a></li>
              <li><a href="/signup">Registro</a></li>
          </ul>
      </div>
    </nav>
  </header>

  <div class="container">
    <div class="form-wrapper">
      <form class="form" action="/register" method="POST">
        
        <h3 class="title_table">Registro</h3>

        <div class="form-row">
          <div class="form-group">
            <label for="fullname">Nombre completo</label>
            <input type="text" name="name" id="fullname" placeholder="Nombre completo" />
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="Dirección de email" />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label for="username">Nombre de usuario</label>
            <input type="text" name="username" id="username" placeholder="Nombre de usuario" />
          </div>
          <div class="form-group">
            <label for="password">Contraseña</label>
            <input type="password" name="password" id="password" placeholder="Contraseña" />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label for="dob">Fecha de nacimiento</label>
            <input type="date" name="birth_date" id="dob" />
          </div>
          <div class="form-group">
            <label for="gender">Género</label>
            <select name="gender" id="gender">
              <option value="male">Hombre</option>
              <option value="female">Mujer</option>
              <option value="other">Otro</option>
            </select>
          </div>
        </div>

        <div class="button-group">
          <button class="google-btn">
            <span class="brand-btn"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="40px" height="30px"
                viewBox="0 0 48 48">
                <path fill="#FFC107"
                  d="M43.611,20.083H42V20H24v8h11.303c-1.649,4.657-6.08,8-11.303,8c-6.627,0-12-5.373-12-12c0-6.627,5.373-12,12-12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C12.955,4,4,12.955,4,24c0,11.045,8.955,20,20,20c11.045,0,20-8.955,20-20C44,22.659,43.862,21.35,43.611,20.083z">
                </path>
                <path fill="#FF3D00"
                  d="M6.306,14.691l6.571,4.819C14.655,15.108,18.961,12,24,12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C16.318,4,9.656,8.337,6.306,14.691z">
                </path>
                <path fill="#4CAF50"
                  d="M24,44c5.166,0,9.86-1.977,13.409-5.192l-6.19-5.238C29.211,35.091,26.715,36,24,36c-5.202,0-9.619-3.317-11.283-7.946l-6.522,5.025C9.505,39.556,16.227,44,24,44z">
                </path>
                <path fill="#1976D2"
                  d="M43.611,20.083H42V20H24v8h11.303c-0.792,2.237-2.231,4.166-4.087,5.571c0.001-0.001,0.002-0.001,0.003-0.002l6.19,5.238C36.971,39.205,44,34,44,24C44,22.659,43.862,21.35,43.611,20.083z">
                </path>
              </svg></span>
            <span>Registrate con Google</span>
          </button>
          <button class="apple-btn">
            <span class="brand-btn"><svg fill="#000000" height="30px" width="40px" version="1.1" id="Capa_1"
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 0 22.773 22.773" xml:space="preserve">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                  <g>
                    <g>
                      <path
                        d="M15.769,0c0.053,0,0.106,0,0.162,0c0.13,1.606-0.483,2.806-1.228,3.675c-0.731,0.863-1.732,1.7-3.351,1.573 c-0.108-1.583,0.506-2.694,1.25-3.561C13.292,0.879,14.557,0.16,15.769,0z">
                      </path>
                      <path
                        d="M20.67,16.716c0,0.016,0,0.03,0,0.045c-0.455,1.378-1.104,2.559-1.896,3.655c-0.723,0.995-1.609,2.334-3.191,2.334 c-1.367,0-2.275-0.879-3.676-0.903c-1.482-0.024-2.297,0.735-3.652,0.926c-0.155,0-0.31,0-0.462,0 c-0.995-0.144-1.798-0.932-2.383-1.642c-1.725-2.098-3.058-4.808-3.306-8.276c0-0.34,0-0.679,0-1.019 c0.105-2.482,1.311-4.5,2.914-5.478c0.846-0.52,2.009-0.963,3.304-0.765c0.555,0.086,1.122,0.276,1.619,0.464 c0.471,0.181,1.06,0.502,1.618,0.485c0.378-0.011,0.754-0.208,1.135-0.347c1.116-0.403,2.21-0.865,3.652-0.648 c1.733,0.262,2.963,1.032,3.723,2.22c-1.466,0.933-2.625,2.339-2.427,4.74C17.818,14.688,19.086,15.964,20.67,16.716z">
                      </path>
                    </g>
                    <g> </g>
                    <g> </g>
                    <g> </g>
                    <g> </g>
                    <g> </g>
                    <g> </g>
                    <g> </g>
                    <g> </g>
                    <g> </g>
                    <g> </g>
                    <g> </g>
                    <g> </g>
                    <g> </g>
                    <g> </g>
                    <g> </g>
                  </g>
                </g>
              </svg></span>
            <span>Registrate con Apple</span>
          </button>
        </div>
        <div class="form-group">
          <button class="signup-btn" type="submit">Registrarse</button>
        </div>
        <div class="login-link">
          <a href="#">¿YA TIENES CUENTA? LOGIN</a>
        </div>
      </div>
    </form>
  </div>
</body>

<footer class="footer">
  <div class="footer__col">
      <div class="footer__col-upper">
          <ul class="payment-methods">
              <h4 class="_14">Métodos de pago: </h4>
              <li><a href="" class="payment-method"> <svg width="4.44vw" height="6.25vh" viewBox="0 -139.5 750 750"
                          version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                          fill="#000000">
                          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                          <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                          <g id="SVGRepo_iconCarrier">
                              <desc>Created with Sketch.</desc>
                              <defs> </defs>
                              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                  <path
                                      d="M0,40.0047706 C0,17.9107459 17.9143492,0 39.9919369,0 L710.008063,0 C732.095,0 750,17.9064659 750,40.0047706 L750,430.995229 C750,453.089254 732.085651,471 710.008063,471 L39.9919369,471 C17.905,471 0,453.093534 0,430.995229 L0,40.0047706 Z M524.5125,142.6875 C513.9405,138.7215 497.3765,134.4655 476.6895,134.4655 C423.9655,134.4655 386.8255,161.0165 386.5095,199.0695 C386.2125,227.1985 413.0235,242.8905 433.2635,252.2545 C454.0325,261.8495 461.0155,267.9695 460.9165,276.5375 C460.7845,289.6595 444.3305,295.6545 428.9935,295.6545 C407.6365,295.6545 396.2905,292.6875 378.7675,285.3785 L371.8915,282.2665 L364.4025,326.0905 C376.8655,331.5545 399.9115,336.2895 423.8405,336.5345 C479.9295,336.5345 516.3415,310.2875 516.7555,269.6525 C516.9565,247.3835 502.7405,230.4355 471.9565,216.4645 C453.3055,207.4085 441.8835,201.3655 442.0045,192.1955 C442.0045,184.0585 451.6725,175.3575 472.5615,175.3575 C490.0105,175.0865 502.6495,178.8915 512.4975,182.8575 L517.2795,185.1165 L524.5125,142.6875 Z M661.3395,138.0545 L620.1085,138.0545 C607.3355,138.0545 597.7775,141.5405 592.1675,154.2885 L512.9225,333.6915 L568.9535,333.6915 C568.9535,333.6915 578.1155,309.5695 580.1875,304.2735 C586.3105,304.2735 640.7415,304.3575 648.5235,304.3575 C650.1195,311.2105 655.0155,333.6915 655.0155,333.6915 L704.5275,333.6915 L661.3395,138.0545 Z M595.5425,264.2325 C599.9555,252.9535 616.8015,209.5095 616.8015,209.5095 C616.4865,210.0305 621.1815,198.1755 623.8765,190.8255 L627.4835,207.7035 C627.4835,207.7035 637.7005,254.4325 639.8355,264.2315 L595.5425,264.2315 L595.5425,264.2325 Z M277.6505,333.6295 L330.9865,333.6295 L364.3705,137.8675 L311.0115,137.8675 L277.6505,333.6295 Z M175.088482,244.366796 L156.3815,154.4165 C153.1515,142.0205 143.7835,138.3215 132.1945,137.8895 L46.1535,137.8895 L45.4725,141.9625 C66.4024534,147.029038 85.1184477,154.339743 101.520801,163.434171 L148.9595,333.4605 L205.4145,333.3955 L289.4185,138.0105 L232.8975,138.0105 L180.6575,271.5055 L175.0915,244.3765 C175.090494,244.373266 175.089488,244.370031 175.088482,244.366797 Z"
                                      id="Combined-Shape" fill="#393939" fill-rule="nonzero"> </path>
                              </g>
                          </g>
                      </svg></a></li>
              <li><a href="" class="payment-method"> <svg width="4.44vw" height="6.25vh" viewBox="0 -139.5 750 750"
                          version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                          fill="#000000">
                          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                          <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                          <g id="SVGRepo_iconCarrier">
                              <desc>Created with Sketch.</desc>
                              <defs> </defs>
                              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                  <g id="mastercard" fill="#393939" fill-rule="nonzero">
                                      <path
                                          d="M40,0 L710,0 C732.09139,1.3527075e-15 750,17.90861 750,40 L750,431 C750,453.09139 732.09139,471 710,471 L40,471 C17.90861,471 2.705415e-15,453.09139 0,431 L0,40 C-2.705415e-15,17.90861 17.90861,4.05812251e-15 40,0 Z M220.13,421.67 L220.13,396.82 C220.13,387.29 214.33,381.08 204.81,381.08 C199.81,381.08 194.46,382.74 190.73,388.08 C187.83,383.52 183.73,381.08 177.48,381.08 C172.759915,380.876008 168.252534,383.054575 165.48,386.88 L165.48,381.88 L157.61,381.88 L157.61,421.64 L165.48,421.64 L165.48,398.89 C165.48,391.89 169.62,388.54 175.42,388.54 C181.22,388.54 184.53,392.27 184.53,398.89 L184.53,421.67 L192.4,421.67 L192.4,398.89 C192.4,391.89 196.54,388.54 202.34,388.54 C208.14,388.54 211.45,392.27 211.45,398.89 L211.45,421.67 L220.13,421.67 Z M349.35,382.32 L334.85,382.32 L334.85,370.32 L327,370.32 L327,382.32 L318.72,382.32 L318.72,389.32 L327,389.32 L327,408 C327,417.11 330.31,422.5 340.25,422.5 C344.015784,422.421483 347.705651,421.426077 351,419.6 L348.51,412.6 C346.275685,413.996557 343.684475,414.715565 341.05,414.67 C336.91,414.67 334.84,412.18 334.84,408.04 L334.84,389 L349.34,389 L349.34,382.37 L349.35,382.32 Z M423.07,381.08 C418.709355,380.982846 414.618836,383.185726 412.3,386.88 L412.3,381.88 L404.43,381.88 L404.43,421.64 L412.3,421.64 L412.3,399.31 C412.3,392.68 415.61,388.54 421,388.54 C422.818809,388.613783 424.62352,388.892205 426.38,389.37 L428.87,381.91 C426.971013,381.43126 425.02704,381.153071 423.07,381.08 Z M311.66,385.22 C307.52,382.32 301.72,381.08 295.51,381.08 C285.57,381.08 279.36,385.64 279.36,393.51 C279.36,400.14 283.92,403.86 292.61,405.11 L296.75,405.52 C301.31,406.35 304.21,408.01 304.21,410.08 C304.21,412.98 300.9,415.08 294.68,415.08 C289.930627,415.177716 285.278889,413.724267 281.43,410.94 L277.29,417.15 C283.09,421.29 290.13,422.15 294.29,422.15 C305.89,422.15 312.1,416.77 312.1,409.31 C312.1,402.31 307.1,398.96 298.43,397.71 L294.29,397.3 C290.56,396.89 287.29,395.64 287.29,393.16 C287.29,390.26 290.6,388.16 295.16,388.16 C300.16,388.16 305.1,390.23 307.59,391.47 L311.66,385.22 Z M431.77,401.79 C431.77,413.79 439.64,422.5 452.48,422.5 C458.28,422.5 462.42,421.26 466.56,417.94 L462.42,411.73 C459.488758,414.10388 455.841703,415.41823 452.07,415.46 C445.07,415.46 439.64,410.08 439.64,402.21 C439.64,394.34 445,389 452.07,389 C455.841703,389.04177 459.488758,390.35612 462.42,392.73 L466.56,386.52 C462.42,383.21 458.28,381.96 452.48,381.96 C440.05,381.13 431.77,389.83 431.77,401.84 L431.77,401.79 Z M376.27,381.08 C364.67,381.08 356.8,389.36 356.8,401.79 C356.8,414.22 365.08,422.5 377.09,422.5 C382.932775,422.623408 388.638486,420.722682 393.24,417.12 L389.1,411.32 C385.772132,413.898743 381.708598,415.349004 377.5,415.46 C372.12,415.46 366.32,412.15 365.5,405.11 L394.91,405.11 L394.91,401.8 C394.91,389.37 387.45,381.09 376.27,381.09 L376.27,381.08 Z M375.86,388.54 C381.66,388.54 385.8,392.27 386.21,398.48 L364.68,398.48 C365.92,392.68 369.68,388.54 375.86,388.54 Z M268.59,401.79 L268.59,381.91 L260.72,381.91 L260.72,386.91 C257.82,383.18 253.72,381.11 247.88,381.11 C236.7,381.11 228.41,389.81 228.41,401.82 C228.41,413.83 236.69,422.53 247.88,422.53 C253.68,422.53 257.82,420.46 260.72,416.73 L260.72,421.73 L268.59,421.73 L268.59,401.79 Z M236.7,401.79 C236.7,394.33 241.26,388.54 249.13,388.54 C256.59,388.54 261.13,394.34 261.13,401.79 C261.13,409.66 256.13,415.04 249.13,415.04 C241.26,415.45 236.7,409.24 236.7,401.79 Z M542.78,381.08 C538.419355,380.982846 534.328836,383.185726 532.01,386.88 L532.01,381.88 L524.14,381.88 L524.14,421.64 L532,421.64 L532,399.31 C532,392.68 535.31,388.54 540.7,388.54 C542.518809,388.613783 544.32352,388.892205 546.08,389.37 L548.57,381.91 C546.671013,381.43126 544.72704,381.153071 542.77,381.08 L542.78,381.08 Z M512.13,401.79 L512.13,381.91 L504.26,381.91 L504.26,386.91 C501.36,383.18 497.26,381.11 491.42,381.11 C480.24,381.11 471.95,389.81 471.95,401.82 C471.95,413.83 480.23,422.53 491.42,422.53 C497.22,422.53 501.36,420.46 504.26,416.73 L504.26,421.73 L512.13,421.73 L512.13,401.79 Z M480.24,401.79 C480.24,394.33 484.8,388.54 492.67,388.54 C500.13,388.54 504.67,394.34 504.67,401.79 C504.67,409.66 499.67,415.04 492.67,415.04 C484.8,415.45 480.24,409.24 480.24,401.79 Z M592.07,401.79 L592.07,366.17 L584.2,366.17 L584.2,386.88 C581.3,383.15 577.2,381.08 571.36,381.08 C560.18,381.08 551.89,389.78 551.89,401.79 C551.89,413.8 560.17,422.5 571.36,422.5 C577.16,422.5 581.3,420.43 584.2,416.7 L584.2,421.7 L592.07,421.7 L592.07,401.79 Z M560.18,401.79 C560.18,394.33 564.74,388.54 572.61,388.54 C580.07,388.54 584.61,394.34 584.61,401.79 C584.61,409.66 579.61,415.04 572.61,415.04 C564.73,415.46 560.17,409.25 560.17,401.79 L560.18,401.79 Z M566.83,92.14 C515.376033,40.6576527 434.245413,33.916152 375,76.2 C329.562623,43.8263966 269.846691,39.5488337 220.258937,65.1156108 C170.671183,90.6823879 139.521038,141.809274 139.54,197.6 C139.521038,253.390726 170.671183,304.517612 220.258937,330.084389 C269.846691,355.651166 329.562623,351.373603 375,319 C420.437377,351.373603 480.153309,355.651166 529.741063,330.084389 C579.328817,304.517612 610.478962,253.390726 610.46,197.6 C610.578631,158.032709 594.864646,120.062047 566.82,92.15 L566.83,92.14 Z M375,295.4 C347.010011,270.608528 330.986328,235.010594 330.986328,197.62 C330.986328,160.229406 347.010011,124.631472 375,99.84 C402.97232,124.641702 418.983207,160.235844 418.983207,197.62 C418.983207,235.004156 402.97232,270.598298 375,295.4 Z M288.64,328 C216.64416,328 158.28,269.63584 158.28,197.64 C158.28,125.64416 216.64416,67.28 288.64,67.28 C313.888918,67.1940155 338.603928,74.5466092 359.7,88.42 C329.437944,116.667594 312.256855,156.207916 312.256855,197.605 C312.256855,239.002084 329.437944,278.542406 359.7,306.79 C338.611679,320.688097 313.89609,328.06521 288.64,328 Z M461.36,328 C436.131498,328.074194 411.439021,320.722096 390.36,306.86 C420.607306,278.597977 437.777346,239.056152 437.777346,197.66 C437.777346,156.263848 420.607306,116.722023 390.36,88.46 C411.451644,74.5724922 436.166984,67.2058877 461.42,67.28 C533.41584,67.28 591.78,125.64416 591.78,197.64 C591.78,269.63584 533.41584,328 461.42,328 L461.36,328 Z"
                                          id="Shape"> </path>
                                  </g>
                              </g>
                          </g>
                      </svg></a></li>
              <li><a href="" class="payment-method"> <svg width="4.44vw" height="6.25vh" viewBox="0 -139.5 750 750"
                          version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                          xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" fill="#000000">
                          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                          <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                          <g id="SVGRepo_iconCarrier">
                              <title>amex</title>
                              <desc>Created with Sketch.</desc>
                              <defs> </defs>
                              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
                                  sketch:type="MSPage">
                                  <g id="Amex" sketch:type="MSLayerGroup" fill="#393939">
                                      <path
                                          d="M0,41.0047706 C0,18.9107459 17.9143492,1 39.9919369,1 L710.008063,1 C732.095,1 750,18.9064659 750,41.0047706 L750,431.995229 C750,454.089254 732.085651,472 710.008063,472 L39.9919369,472 C17.905,472 0,454.093534 0,431.995229 L0,41.0047706 Z M0.00266072556,221.9061 L36.0288848,221.9061 L44.15208,202.394972 L62.3381392,202.394972 L70.4400485,221.9061 L141.324438,221.9061 L141.324438,206.989254 L147.651644,221.969689 L184.449478,221.969689 L190.776684,206.766694 L190.776684,221.9061 L366.938002,221.9061 L366.855519,189.878599 L370.263908,189.878599 C372.650579,189.960734 373.347689,190.180645 373.347689,194.104597 L373.347689,221.9061 L464.458915,221.9061 L464.458915,214.450327 C471.807839,218.371629 483.238316,221.9061 498.279397,221.9061 L536.60981,221.9061 L544.812827,202.394972 L562.998886,202.394972 L571.020974,221.9061 L644.885376,221.9061 L644.885376,203.372648 L656.071066,221.9061 L715.261567,221.9061 L715.261567,99.3918994 L656.683033,99.3918994 L656.683033,113.860975 L648.480016,99.3918994 L588.371565,99.3918994 L588.371565,113.860975 L580.839051,99.3918994 L499.64701,99.3918994 C486.056024,99.3918994 474.109366,101.281013 464.458915,106.545627 L464.458915,99.3918994 L408.429356,99.3918994 L408.429356,106.545627 C402.288401,101.119392 393.920419,99.3918994 384.615862,99.3918994 L179.918263,99.3918994 L166.183597,131.035219 L152.079091,99.3918994 L87.6043891,99.3918994 L87.6043891,113.860975 L80.5215377,99.3918994 L25.5349832,99.3918994 L0,157.641785 L0,221.9061 L0.00266072556,221.9061 L0.00266072556,221.9061 Z M227.659661,204.65237 L206.043927,204.65237 L205.964105,135.854711 L175.389708,204.65237 L156.876379,204.65237 L126.22216,135.793772 L126.22216,204.65237 L83.3365853,204.65237 L75.234676,185.059106 L31.3327042,185.059106 L23.1483124,204.65237 L0.247447477,204.65237 L38.0058039,116.8099 L69.3331867,116.8099 L105.194446,199.978602 L105.194446,116.8099 L139.60827,116.8099 L167.202655,176.400447 L192.551387,116.8099 L227.657001,116.8099 L227.657001,204.65237 L227.659661,204.65237 L227.659661,204.65237 Z M67.6223402,166.748214 L53.1905647,131.729395 L38.8412718,166.748214 L67.6223402,166.748214 L67.6223402,166.748214 Z M313.811294,204.65237 L243.373906,204.65237 L243.373906,116.8099 L313.811294,116.8099 L313.811294,135.102245 L264.460157,135.102245 L264.460157,150.935828 L312.627271,150.935828 L312.627271,168.942024 L264.460157,168.942024 L264.460157,186.484553 L313.811294,186.484553 L313.811294,204.65237 L313.811294,204.65237 L313.811294,204.65237 Z M413.125537,140.467541 C413.125537,154.472949 403.738497,161.708811 398.268045,163.881425 C402.881743,165.630113 406.822278,168.719464 408.698089,171.278908 C411.675441,175.647981 412.188961,179.550736 412.188961,187.395991 L412.188961,204.65237 L390.921782,204.65237 L390.84196,193.574691 C390.84196,188.288882 391.350159,180.687384 387.513392,176.461386 C384.432272,173.372036 379.736092,172.701705 372.145041,172.701705 L349.510249,172.701705 L349.510249,204.65237 L328.42666,204.65237 L328.42666,116.8099 L376.923705,116.8099 C387.699643,116.8099 395.639248,117.0934 402.456027,121.017352 C409.126466,124.941303 413.125537,130.669584 413.125537,140.467541 L413.125537,140.467541 Z M385.552438,152.803746 C382.654907,154.555084 379.227893,154.613374 375.122393,154.613374 L349.507588,154.613374 L349.507588,135.102245 L375.470948,135.102245 C379.14541,135.102245 382.979516,135.266516 385.469955,136.686663 C388.205181,137.966386 389.897402,140.690101 389.897402,144.452432 C389.897402,148.291599 388.287663,151.380949 385.552438,152.803746 L385.552438,152.803746 Z M446.868858,204.65237 L425.354231,204.65237 L425.354231,116.8099 L446.868858,116.8099 L446.868858,204.65237 L446.868858,204.65237 Z M696.466202,204.65237 L666.586254,204.65237 L626.619495,138.721501 L626.619495,204.65237 L583.678045,204.65237 L575.472367,185.059106 L531.671503,185.059106 L523.710612,204.65237 L499.037704,204.65237 C488.788589,204.65237 475.812231,202.394972 468.463307,194.936549 C461.053186,187.478126 457.197795,177.375474 457.197795,161.401466 C457.197795,148.373734 459.501983,136.464103 468.564414,127.052978 C475.381193,120.042325 486.056024,116.8099 500.586247,116.8099 L520.999333,116.8099 L520.999333,135.632151 L501.014623,135.632151 C493.319805,135.632151 488.97484,136.771448 484.789519,140.835825 C481.194879,144.534567 478.728386,151.526673 478.728386,160.733785 C478.728386,170.14491 480.606858,176.930353 484.526107,181.363014 C487.772192,184.839195 493.671021,185.893708 499.221294,185.893708 L508.690817,185.893708 L538.40846,116.81255 L570.001916,116.81255 L605.700871,199.899116 L605.700871,116.81255 L637.805185,116.81255 L674.869092,177.990164 L674.869092,116.81255 L696.466202,116.81255 L696.466202,204.65237 L696.466202,204.65237 Z M568.285748,166.748214 L553.694329,131.729395 L539.182732,166.748214 L568.285748,166.748214 Z M750,344.518333 C744.878103,351.976756 734.897722,355.757633 721.386557,355.757633 L680.666813,355.757633 L680.666813,336.916836 L721.221592,336.916836 C725.244609,336.916836 728.059657,336.38958 729.754539,334.741573 C731.22326,333.382365 732.247639,331.408466 732.247639,329.010643 C732.247639,326.451198 731.22326,324.41901 729.672057,323.200226 C728.14214,321.859565 725.915112,321.250173 722.243311,321.250173 C702.444852,320.579843 677.745337,321.859565 677.745337,294.055412 C677.745337,281.31118 685.871193,267.896617 707.997786,267.896617 L749.997339,267.896617 L749.997339,250.415027 L710.975138,250.415027 C699.198767,250.415027 690.644534,253.223528 684.586062,257.589951 L684.586062,250.415027 L626.866942,250.415027 C617.636885,250.415027 606.802411,252.693622 601.677854,257.589951 L601.677854,250.415027 L498.606667,250.415027 L498.606667,257.589951 C490.40365,251.697399 476.562555,250.415027 470.174153,250.415027 L402.187294,250.415027 L402.187294,257.589951 C395.697784,251.331764 381.266009,250.415027 372.46965,250.415027 L296.380881,250.415027 L278.969093,269.178989 L262.661506,250.415027 L149.000631,250.415027 L149.000631,373.014013 L260.522283,373.014013 L278.463555,353.953304 L295.364484,373.014013 L364.10699,373.074952 L364.10699,344.234834 L370.865232,344.234834 C379.9862,344.375259 390.743513,344.009624 400.234321,339.924051 L400.234321,373.011363 L456.934383,373.011363 L456.934383,341.058049 L459.669609,341.058049 C463.160481,341.058049 463.503714,341.201123 463.503714,344.674655 L463.503714,373.008714 L635.748444,373.008714 C646.684026,373.008714 658.114503,370.22141 664.44437,365.16346 L664.44437,373.008714 L719.079708,373.008714 C730.448989,373.008714 741.552196,371.421646 750,367.357269 L750,344.518333 Z M408.51716,296.840067 C408.51716,321.247524 390.229993,326.286927 371.799147,326.286927 L345.489893,326.286927 L345.489893,355.757633 L304.506737,355.757633 L278.543377,326.671109 L251.560959,355.757633 L168.040784,355.757633 L168.040784,267.893967 L252.846089,267.893967 L278.788164,296.694343 L305.608277,267.893967 L372.98317,267.893967 C389.716473,267.893967 408.51716,272.506796 408.51716,296.840067 Z M240.886128,337.446742 L189.044551,337.446742 L189.044551,319.965152 L235.335855,319.965152 L235.335855,302.038442 L189.044551,302.038442 L189.044551,286.064434 L241.907847,286.064434 L264.971016,311.669478 L240.886128,337.446742 Z M324.488786,347.766655 L292.115738,311.976823 L324.488786,277.323639 L324.488786,347.766655 Z M372.738383,308.442352 L345.489893,308.442352 L345.489893,286.067084 L372.98317,286.067084 C380.595506,286.067084 385.879707,289.156434 385.879707,296.840067 C385.879707,304.438915 380.840293,308.442352 372.738383,308.442352 Z M514.999397,267.893967 L585.372927,267.893967 L585.372927,286.064434 L535.997843,286.064434 L535.997843,302.038442 L584.167619,302.038442 L584.167619,319.965152 L535.997843,319.965152 L535.997843,337.446742 L585.372927,337.526227 L585.372927,355.757633 L514.999397,355.757633 L514.999397,267.893967 L514.999397,267.893967 Z M488.362873,314.925749 C493.056393,316.650592 496.893159,319.742592 498.69181,322.302036 C501.669162,326.591623 502.100199,330.595061 502.185343,338.339633 L502.185343,355.757633 L481.01661,355.757633 L481.01661,344.764739 C481.01661,339.47893 481.527469,331.652223 477.608221,327.56665 C474.5271,324.41901 469.83092,323.666543 462.138762,323.666543 L439.605077,323.666543 L439.605077,355.757633 L418.41772,355.757633 L418.41772,267.893967 L467.098355,267.893967 C477.773186,267.893967 485.547826,268.362934 492.468373,272.040479 C499.122847,276.043917 503.308169,281.528441 503.308169,291.551608 C503.305508,305.575562 493.913147,312.731939 488.362873,314.925749 Z M475.628641,303.991144 C472.808272,305.657698 469.32006,305.800772 465.217222,305.800772 L439.602417,305.800772 L439.602417,286.067084 L465.565777,286.067084 C469.32006,286.067084 473.077005,286.14657 475.628641,287.654151 C478.361206,289.076948 479.994891,291.798014 479.994891,295.557695 C479.994891,299.317376 478.361206,302.345787 475.628641,303.991144 Z M665.891804,309.417379 C669.997304,313.648676 672.197724,318.990126 672.197724,328.032967 C672.197724,346.934703 660.33887,355.757633 639.074351,355.757633 L598.006052,355.757633 L598.006052,336.916836 L638.909386,336.916836 C642.908457,336.916836 645.74479,336.38958 647.522155,334.741573 C648.97225,333.382365 650.012594,331.408466 650.012594,329.010643 C650.012594,326.451198 648.887107,324.41901 647.439672,323.200226 C645.827273,321.859565 643.602906,321.250173 639.931105,321.250173 C620.212468,320.579843 595.518274,321.859565 595.518274,294.055412 C595.518274,281.31118 603.558987,267.896617 625.664294,267.896617 L667.935241,267.896617 L667.935241,286.596989 L629.256274,286.596989 C625.422168,286.596989 622.929069,286.740064 620.80847,288.184057 C618.498961,289.606854 617.642207,291.718528 617.642207,294.505832 C617.642207,297.820392 619.603162,300.075141 622.255905,301.050168 C624.480272,301.82118 626.869603,302.04639 630.461583,302.04639 L641.812238,302.351086 C653.258679,302.629287 661.115802,304.600536 665.891804,309.417379 Z M750,286.59169 L711.571141,286.59169 C707.734374,286.59169 705.185399,286.734765 703.038194,288.178758 C700.813827,289.601555 699.957074,291.713229 699.957074,294.500533 C699.957074,297.815093 701.835546,300.069842 704.568111,301.044869 C706.792478,301.815881 709.181809,302.041091 712.693967,302.041091 L724.121783,302.345787 C735.653368,302.629287 743.350847,304.603185 748.044367,309.417379 C748.89846,310.08771 749.41198,310.840176 750,311.592642 L750,286.59169 Z"
                                          id="American" sketch:type="MSShapeGroup"> </path>
                                  </g>
                              </g>
                          </g>
                      </svg></a></li>
              <li><a href="" class="payment-method"> <svg width="4.44vw" height="6.25vh" viewBox="0 -139.5 750 750"
                          version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                          fill="#000000">
                          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                          <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                          <g id="SVGRepo_iconCarrier">
                              <desc>Created with Sketch.</desc>
                              <defs> </defs>
                              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                  <g id="maestro" fill="#393939" fill-rule="nonzero">
                                      <path
                                          d="M40,0 L710,0 C732.09139,1.3527075e-15 750,17.90861 750,40 L750,431 C750,453.09139 732.09139,471 710,471 L40,471 C17.90861,471 2.705415e-15,453.09139 0,431 L0,40 C-2.705415e-15,17.90861 17.90861,4.05812251e-15 40,0 Z M320.68,386.34 C317.95,382.78 313.81,380.55 308.19,380.55 C297.1,380.55 288.42,389.24 288.42,401.32 C288.42,413.4 297.11,422.09 308.19,422.09 C313.82,422.09 317.95,419.86 320.68,416.3 L320.68,421.1 L329.29,421.1 L329.29,381.54 L320.68,381.54 L320.68,386.34 Z M309.26,414 C301.81,414 297.26,408.29 297.26,401.34 C297.26,394.39 301.81,388.68 309.26,388.68 C316.38,388.68 321.17,394.14 321.17,401.34 C321.17,408.54 316.38,414 309.26,414 Z M265.26,380.57 C260.26,380.49 255,382.06 251.36,387.57 C248.63,383.19 244.36,380.57 238.29,380.57 C233.662815,380.337729 229.257997,382.570568 226.71,386.44 L226.71,381.56 L218.1,381.56 L218.1,421.11 L226.79,421.11 L226.79,399.16 C226.79,392.29 230.6,388.65 236.47,388.65 C242.18,388.65 245.08,392.37 245.08,399.07 L245.08,421.07 L253.77,421.07 L253.77,399.16 C253.77,392.29 257.77,388.65 263.45,388.65 C269.32,388.65 272.14,392.37 272.14,399.07 L272.14,421.07 L280.83,421.07 L280.83,396.27 C280.8,386.92 274.84,380.63 265.24,380.55 L265.26,380.57 Z M473,386.34 L473,381.54 L464.48,381.54 L464.48,421.09 L473.08,421.09 L473.08,398.91 C473.08,392.37 475.89,388.73 481.52,388.73 C483.361653,388.706198 485.189904,389.046022 486.9,389.73 L489.55,381.62 C487.58609,380.915232 485.516514,380.550012 483.43,380.54 C479.152401,380.412815 475.148865,382.639134 473,386.34 Z M533.06,393.06 C532.029744,390.586773 530.513063,388.345758 528.6,386.47 C526.657997,384.582736 524.364719,383.094654 521.85,382.09 C516.382982,379.96271 510.317018,379.96271 504.85,382.09 C502.339623,383.091606 500.052334,384.580213 498.12,386.47 C496.218895,388.351542 494.709788,390.59141 493.68,393.06 C491.533997,398.357587 491.533997,404.282413 493.68,409.58 C494.709319,412.048843 496.218485,414.288798 498.12,416.17 C500.052168,418.059994 502.339501,419.54863 504.85,420.55 C510.316835,422.678264 516.383165,422.678264 521.85,420.55 C524.364958,419.545809 526.658322,418.057671 528.6,416.17 C530.513063,414.294242 532.029744,412.053227 533.06,409.58 C535.206003,404.282413 535.206003,398.357587 533.06,393.06 Z M524.84,406.46 C524.243848,407.955594 523.352829,409.315929 522.22,410.46 C521.094154,411.58192 519.754284,412.466098 518.28,413.06 C515.120512,414.299283 511.609488,414.299283 508.45,413.06 C506.979746,412.469637 505.645751,411.584844 504.53,410.46 C503.406675,409.312258 502.522861,407.952544 501.93,406.46 C500.664271,403.150216 500.664271,399.489784 501.93,396.18 C502.523336,394.687702 503.407092,393.328077 504.53,392.18 C505.645751,391.055156 506.979746,390.170363 508.45,389.58 C511.609488,388.340717 515.120512,388.340717 518.28,389.58 C519.754284,390.173902 521.094154,391.05808 522.22,392.18 C523.352829,393.324071 524.243848,394.684406 524.84,396.18 C526.105729,399.489784 526.105729,403.150216 524.84,406.46 Z M357.32,380.55 C345.74,380.55 337.63,388.99 337.63,401.32 C337.63,413.9 346.07,422.09 357.9,422.09 C363.9,422.09 369.32,420.6 374.12,416.55 L369.9,410.18 C366.633262,412.799648 362.586894,414.256341 358.4,414.32 C352.86,414.32 347.81,411.76 346.57,404.64 L375.94,404.64 C376.02,403.56 376.11,402.49 376.11,401.33 C376,389 368.41,380.55 357.32,380.55 Z M346.65,397.84 C347.56,392.13 351.03,388.24 357.16,388.24 C362.7,388.24 366.26,391.71 367.16,397.84 L346.65,397.84 Z M445.33,413.89 C441.03,413.89 439.62,411.24 439.62,407.27 L439.62,389.4 L453.68,389.4 L453.68,381.54 L439.62,381.54 L439.62,369.54 L430.93,369.54 L430.93,381.54 L422.93,381.54 L422.93,389.4 L430.93,389.4 L430.93,407.4 C430.93,416.58 434.49,422.05 444.66,422.05 C448.462089,422.065196 452.191426,421.008088 455.42,419 L452.94,411.64 C450.634452,413.021544 448.016135,413.795685 445.33,413.89 Z M403.24,397.34 L399.19,396.76 C395.47,396.26 392.49,395.52 392.49,392.87 C392.49,389.97 395.3,388.24 400.02,388.24 C404.351282,388.303967 408.594813,389.47068 412.35,391.63 L416.07,384.68 C411.93,381.95 406.22,380.54 399.94,380.54 C389.94,380.54 383.48,385.34 383.48,393.2 C383.48,399.65 388.28,403.62 397.13,404.87 L401.18,405.45 C405.9,406.11 408.13,407.35 408.13,409.59 C408.13,412.65 404.99,414.39 399.13,414.39 C394.40304,414.525905 389.767785,413.067702 385.97,410.25 L381.92,416.95 C386.64,420.43 392.59,422.08 399.05,422.08 C410.47,422.08 417.05,416.7 417.05,409.17 C417.06,402.22 411.85,398.58 403.24,397.34 Z M566.82,92.52 C515.370051,41.0400388 434.245798,34.2944865 375,76.57 C329.558229,44.1932588 269.835574,39.9182319 220.245595,65.4924744 C170.655616,91.066717 139.509799,142.20388 139.54,198 C139.528529,253.78713 170.681558,304.907166 220.26783,330.468967 C269.854101,356.030768 329.565552,351.751514 375,319.38 C420.434448,351.751514 480.145899,356.030768 529.73217,330.468967 C579.318442,304.907166 610.471471,253.78713 610.46,198 C610.586652,158.422319 594.872053,120.439369 566.82,92.52 Z M375,295.77 C347.010011,270.978528 330.986328,235.380594 330.986328,197.99 C330.986328,160.599406 347.010011,125.001472 375,100.21 C402.97232,125.011702 418.983207,160.605844 418.983207,197.99 C418.983207,235.374156 402.97232,270.968298 375,295.77 Z M288.61,328.34 C216.61416,328.34 158.25,269.97584 158.25,197.98 C158.25,125.98416 216.61416,67.62 288.61,67.62 C313.872199,67.5370205 338.598725,74.9003704 359.7,88.79 C329.437944,117.037594 312.256855,156.577916 312.256855,197.975 C312.256855,239.372084 329.437944,278.912406 359.7,307.16 C338.607249,321.043978 313.891991,328.40708 288.64,328.33 L288.61,328.34 Z M461.33,328.34 C436.101498,328.414194 411.409021,321.062096 390.33,307.2 C420.577306,278.937977 437.747346,239.396152 437.747346,198 C437.747346,156.603848 420.577306,117.062023 390.33,88.8 C411.421644,74.9124922 436.136984,67.5458877 461.39,67.62 C533.38584,67.62 591.75,125.98416 591.75,197.98 C591.75,269.97584 533.38584,328.34 461.39,328.34 L461.33,328.34 Z"
                                          id="Shape"> </path>
                                  </g>
                              </g>
                          </g>
                      </svg></a></li>
              <li><a href="" class="payment-method"> <svg width="4.44vw" height="6.25vh" viewBox="0 -139.5 750 750"
                          version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                          fill="#000000">
                          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                          <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                          <g id="SVGRepo_iconCarrier">
                              <desc>Created with Sketch.</desc>
                              <defs> </defs>
                              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                  <path
                                      d="M697.115385,0 C726.274038,0 750,23.1955749 750,51.7065868 L750,419.293413 C750,447.804425 726.274038,471 697.115385,471 L52.8846154,471 C23.7240385,471 0,447.804425 0,419.293413 L0,51.7065868 C0,23.1955749 23.7240385,0 52.8846154,0 L697.115385,0 Z M117.878881,242.191381 C135.795218,242.191381 149.858148,237.142978 160.068626,227.035665 C170.274328,216.932173 175.382911,202.922736 175.382911,185.001622 C175.382911,172.710648 171.369024,163.804062 163.349849,158.279954 C155.325898,152.764442 144.857507,150 131.941811,150 L81.9382649,150 C77.9797822,150 75.7923002,151.980197 75.3767742,155.936769 L55.063759,283.443088 C54.8526527,284.695398 55.1659689,285.840721 56.0008419,286.881925 C56.8318941,287.925994 57.8750077,288.444685 59.1254068,288.444685 L82.876303,288.444685 C87.0420712,288.444685 89.331763,286.468309 89.7520652,282.506961 L95.3764731,248.132926 C95.581848,246.467001 96.3145112,245.112481 97.5649103,244.069368 C98.8133989,243.028164 100.377114,242.346129 102.252235,242.034723 C104.127356,241.725228 105.895491,241.569525 107.565237,241.569525 C109.230207,241.569525 111.209449,241.6746 113.503917,241.881886 C115.793609,242.090126 117.254159,242.191381 117.878881,242.191381 Z M242.105888,224.221551 C245.957384,227.660387 247.886954,232.401205 247.886954,238.443049 C247.886954,246.151774 245.230453,252.560428 239.91745,257.659458 C234.603493,262.770906 228.088809,265.317555 220.385815,265.317555 C214.34015,265.317555 209.495212,263.65354 205.852911,260.317869 C202.203923,256.98984 200.382295,252.40568 200.382295,246.566345 C200.382295,238.863352 202.986259,232.347712 208.197051,227.035665 C213.401157,221.722663 219.861393,219.066162 227.572028,219.066162 C233.403721,219.066162 238.247704,220.78558 242.105888,224.221551 Z M284.761787,200.938718 C284.967161,199.688319 284.655756,198.543951 283.825659,197.501792 C282.990786,196.461544 281.950538,195.939032 280.702049,195.939032 L256.951153,195.939032 C254.030053,195.939032 252.262873,199.377869 251.637196,206.253631 C246.011833,197.92305 236.114671,193.75155 221.94762,193.75155 C206.946652,193.75155 194.184748,199.377869 183.66382,210.628595 C173.14098,221.879321 167.882426,235.112154 167.882426,250.319453 C167.882426,262.614248 171.476966,272.405379 178.665089,279.694757 C185.853212,286.990821 195.48673,290.633122 207.572329,290.633122 C213.403067,290.633122 219.448732,289.380812 225.697862,286.88288 C231.947947,284.383037 236.948588,281.050231 240.69883,276.882553 C239.863002,279.381441 239.448431,281.569878 239.448431,283.443088 C239.448431,286.78067 240.801996,288.442774 243.511034,288.442774 L265.074449,288.442774 C269.02911,288.442774 271.324534,286.466399 271.949256,282.50505 L284.761787,200.938718 Z M325.703999,320.632193 C327.994646,320.632193 329.867856,319.593855 331.330317,317.509538 L411.022483,202.500523 C411.437054,202.086908 411.645295,201.360931 411.645295,200.313041 C411.645295,199.273748 411.224992,198.282217 410.397761,197.34609 C409.561933,196.409007 408.622939,195.938077 407.584602,195.938077 L383.52039,195.938077 C381.224011,195.938077 379.349845,196.985012 377.895026,199.062642 L344.768525,247.817699 L331.017001,200.939674 C329.971977,197.608778 327.68133,195.938077 324.143149,195.938077 L300.700793,195.938077 C299.656724,195.938077 298.719641,196.408051 297.891455,197.34609 C297.055626,198.282217 296.641056,199.274704 296.641056,200.313041 C296.641056,200.733343 298.672835,206.876442 302.734482,218.75189 C306.79613,230.629249 311.171094,243.44369 315.858419,257.195215 C320.546699,270.942918 322.993049,278.239938 323.202245,279.067169 C306.11696,302.40445 297.577183,314.90462 297.577183,316.568634 C297.577183,319.279584 298.929792,320.632193 301.639786,320.632193 L325.703999,320.632193 Z M472.895746,242.191381 C490.814949,242.191381 504.875013,237.142978 515.087402,227.035665 C525.295014,216.932173 530.400731,202.922736 530.400731,185.001622 C530.401686,172.710648 526.388755,163.804062 518.368625,158.279954 C510.346584,152.764442 499.879148,150 486.961541,150 L437.271312,150 C433.101723,150 430.809165,151.980197 430.39555,155.936769 L410.08349,283.443088 C409.871428,284.695398 410.183789,285.840721 411.019617,286.881925 C411.846849,287.925994 412.892828,288.444685 414.144182,288.444685 L439.769244,288.444685 C442.268132,288.444685 443.934057,287.092076 444.76893,284.383037 L450.396204,248.132926 C450.602534,246.467001 451.331376,245.112481 452.583686,244.069368 C453.83313,243.028164 455.393979,242.346129 457.271011,242.034723 C459.145176,241.725228 460.914267,241.569525 462.584968,241.569525 C464.249938,241.569525 466.228224,241.6746 468.520782,241.881886 C470.811429,242.090126 472.274845,242.191381 472.895746,242.191381 Z M597.124663,224.221551 C600.97616,227.660387 602.906684,232.401205 602.907639,238.443049 C602.906684,245.942578 600.250183,252.299649 594.937181,257.50471 C589.625134,262.713592 583.219346,265.317555 575.717907,265.317555 C569.673197,265.317555 564.781452,263.65354 561.0293,260.317869 C557.278102,256.98984 555.402981,252.40568 555.402981,246.566345 C555.402981,238.863352 558.006945,232.347712 563.216782,227.035665 C568.419932,221.722663 574.883989,219.066162 582.593669,219.066162 C588.421541,219.066162 593.26648,220.78558 597.124663,224.221551 Z M639.783428,200.938718 C639.988803,199.688319 639.676442,198.543951 638.843479,197.501792 C638.007651,196.461544 636.969313,195.939032 635.718914,195.939032 L611.966107,195.939032 C609.047873,195.939032 607.280693,199.377869 606.656926,206.253631 C601.233117,197.92305 591.343597,193.75155 576.96544,193.75155 C561.964472,193.75155 549.200658,199.377869 538.682595,210.628595 C528.159756,221.879321 522.901202,235.112154 522.901202,250.319453 C522.901202,262.614248 526.494786,272.405379 533.680999,279.694757 C540.870077,286.990821 550.505505,290.633122 562.59206,290.633122 C568.631994,290.633122 574.778914,289.380812 581.028999,286.88288 C587.280039,284.383037 592.171783,281.050231 595.719516,276.882553 C595.719516,277.090793 595.507455,278.026921 595.093839,279.692846 C594.673537,281.362592 594.468162,282.615857 594.468162,283.443088 C594.468162,286.78067 595.81886,288.442774 598.53172,288.442774 L620.097045,288.442774 C624.049796,288.442774 626.345219,286.466399 626.968986,282.50505 L639.783428,200.938718 Z M695.099976,154.685414 L695.09902,154.685414 L695.09902,154.375919 C695.098065,151.459595 693.739725,150.000955 691.033552,150.000955 L667.909288,150.000955 C665.611954,150.000955 664.259345,151.147234 663.84573,153.439792 L643.530804,283.445954 L643.217488,284.070676 C643.217488,285.116655 643.63588,286.102455 644.470753,287.039538 C645.299894,287.976621 646.345874,288.44564 647.594362,288.44564 L668.222604,288.44564 C672.176311,288.44564 674.364748,286.469264 674.786005,282.507916 L695.099976,154.685414 Z M489.461384,182.343211 C491.963138,184.530693 493.210671,187.709706 493.211626,191.875474 C493.211626,200.627313 490.918114,206.563126 486.336819,209.690557 C481.751704,212.815122 474.876897,214.376926 465.710488,214.376926 L455.709206,214.689287 L461.023163,181.24947 C461.435824,178.959778 462.789388,177.813499 465.084811,177.813499 L470.708264,177.813499 C475.290513,177.813499 478.936635,178.02174 481.649495,178.437266 C484.353757,178.856613 486.961541,180.155729 489.461384,182.343211 Z M133.819797,181.407083 C137.568129,183.804716 138.818528,188.85885 137.567174,196.565665 C136.52215,203.858863 133.816932,208.648398 129.441968,210.940956 C125.066049,213.236379 118.815964,214.377882 110.691713,214.377882 L100.378069,214.690243 L105.692027,181.250425 C106.107553,178.960733 107.461117,177.814454 109.753675,177.814454 L115.694264,177.814454 C124.02389,177.814454 130.069555,179.015181 133.819797,181.407083 Z"
                                      id="Combined-Shape" fill="#393939" fill-rule="nonzero"> </path>
                              </g>
                          </g>
                      </svg></a></li>
          </ul>
      </div>
      <div class="footer__col-inner">
          <div class="footer-social-icons">
              <ul class="social-icons">
                  <h4 class="_14">Siguenos en: </h4>
                  <li><a href="https://www.facebook.com/" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
                  <li><a href="https://twitter.com/" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
                  <li><a href="https://www.youtube.com/" class="social-icon"> <i class="fa fa-youtube"></i></a></li>
                  <li><a href="https://es.linkedin.com/" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
              </ul>
          </div>
      </div>
      <div class="footer_col-right">
          <a href="" class="contact-info"><svg fill="#ffffff" width="5vw" height="5vh" viewBox="0 0 64 64"
                  version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink" stroke="#ffffff">
                  <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                  <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                  <g id="SVGRepo_iconCarrier">
                      <g id="_x32_5_attachment"></g>
                      <g id="_x32_4_office"></g>
                      <g id="_x32_3_pin"></g>
                      <g id="_x32_2_business_card"></g>
                      <g id="_x32_1_form"></g>
                      <g id="_x32_0_headset"></g>
                      <g id="_x31_9_video_call"></g>
                      <g id="_x31_8_letter_box"></g>
                      <g id="_x31_7_papperplane"></g>
                      <g id="_x31_6_laptop"></g>
                      <g id="_x31_5_connection"></g>
                      <g id="_x31_4_phonebook"></g>
                      <g id="_x31_3_classic_telephone"></g>
                      <g id="_x31_2_sending_mail"></g>
                      <g id="_x31_1_man_talking"></g>
                      <g id="_x31_0_date"></g>
                      <g id="_x30_9_review"></g>
                      <g id="_x30_8_email"></g>
                      <g id="_x30_7_information">
                          <g>
                              <g>
                                  <path
                                      d="M32.0057,50.3049c-1.2948,0-2.4217-0.4775-3.3503-1.4193c-0.9135-0.9277-1.3768-2.0511-1.3768-3.3395V29.0704 c0-1.2816,0.4633-2.4016,1.3768-3.3288c0.9311-0.9486,2.0584-1.4305,3.3503-1.4305c1.3012,0,2.4353,0.4814,3.3713,1.43 c0.914,0.9281,1.3773,2.0482,1.3773,3.3293V45.546c0,1.2889-0.4633,2.4124-1.3778,3.3395 C34.4484,49.8274,33.3142,50.3049,32.0057,50.3049z M32.0057,26.3109c-0.7553,0-1.3671,0.2646-1.9241,0.8324 c-0.541,0.5493-0.8032,1.1791-0.8032,1.9271V45.546c0,0.7656,0.2549,1.3807,0.8017,1.9359 c0.5537,0.5615,1.1654,0.8232,1.9256,0.8232c0.7636,0,1.4008-0.2695,1.9466-0.8237c0.5473-0.5546,0.8022-1.1698,0.8022-1.9354 V29.0704c0-0.748-0.2622-1.3778-0.8022-1.9256C33.3913,26.576,32.7727,26.3109,32.0057,26.3109z M32.0057,21.12 c-1.2894,0-2.4182-0.4614-3.3557-1.3719c-0.9379-0.9648-1.4032-2.0936-1.4032-3.3762c0-1.2958,0.4668-2.4265,1.3876-3.361 c0.9443-0.9311,2.075-1.3983,3.3713-1.3983c1.2826,0,2.4119,0.4653,3.3561,1.3837c0.9306,0.9569,1.3925,2.0862,1.3925,3.3757 c0,1.2763-0.4599,2.4036-1.3676,3.3508C34.4088,20.66,33.2815,21.12,32.0057,21.12z M32.0057,13.6123 c-0.7626,0-1.4027,0.2656-1.9569,0.8124c-0.5366,0.5444-0.8022,1.185-0.8022,1.9471c0,0.7543,0.2676,1.3964,0.8173,1.9622 c0.538,0.5224,1.1801,0.7861,1.9417,0.7861c0.7533,0,1.3968-0.2656,1.9676-0.8115c0.5156-0.54,0.7812-1.1835,0.7812-1.9368 c0-0.7617-0.2641-1.4032-0.8071-1.9622C33.4021,13.8799,32.76,13.6123,32.0057,13.6123z">
                                  </path>
                              </g>
                              <g>
                                  <path
                                      d="M31.9989,63c-5.2608,0-10.5157-1.3524-15.2784-4.0455L2.6841,60.2c-0.3779,0.0293-0.7324-0.1445-0.9325-0.4599 c-0.2002-0.3159-0.208-0.7167-0.0195-1.0399l5.062-8.6774c-0.8276-1.1581-1.579-2.3797-2.2381-3.6393 c-7.9387-15.131-2.0867-33.9008,13.0457-41.84l0,0c15.131-7.9387,33.9037-2.0862,41.8429,13.0462 c7.9383,15.1349,2.0848,33.9056-13.0491,41.8439C41.8583,61.8136,36.9257,63,31.9989,63z M16.9446,56.9307 c0.1753,0,0.3481,0.0464,0.5009,0.1343c8.6818,5.0254,19.1565,5.2486,28.0214,0.5971 c14.1569-7.4256,19.633-24.9856,12.2064-39.144c-7.4261-14.155-24.986-19.6311-39.143-12.2035l0,0 C11.674,9.912,6.6281,15.9647,4.3231,23.3576S2.73,38.5984,6.3274,45.4552c0.7133,1.3627,1.5414,2.677,2.4612,3.9069 c0.2407,0.3217,0.2651,0.7563,0.063,1.1029L4.434,58.0371l12.4222-1.1024C16.8855,56.9322,16.9153,56.9307,16.9446,56.9307z">
                                  </path>
                              </g>
                          </g>
                      </g>
                      <g id="_x30_6_phone_talking"></g>
                      <g id="_x30_5_women_talking"></g>
                      <g id="_x30_4_calling"></g>
                      <g id="_x30_3_women"></g>
                      <g id="_x30_2_writing"></g>
                      <g id="_x30_1_chatting"></g>
                  </g>
              </svg></a>
      </div>
  </div>
</footer>
<div class="copyright">
  <p>&#169 2024. Desarrollado por Moisés Moreno Mendoza</p>
</div>

</html>