@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

body {
    font-family: "FF Mark W05", Arial, sans-serif;
    background-color: #D9D9D9;
    text-decoration: none;
    list-style: none;
    overflow: auto;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    display: none;
}

/* Header styles */

header {
    width: 100%;
    margin: 0;
    padding: 0;
}

.logobar {
    background-color: black;
    color: #f4f4f4;
    padding: 0.625em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 9.31em;
    max-height: 10vh;
    top: 0;
}

.logobar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.logobar li {
    margin-right: 1.25em;
}

.logobar a {
    text-decoration: none;
    font-weight: bold;
    font-size: 3.125vh;
    color: #f4f4f4;
}

/* Body styles */

/* --------Class filter-------- */

.class_filtrer {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: fit-content;
}

.list_filtrer_option {
    list-style: none;
    padding: .5vw;
    width: 88vw;
    background-color: black;
    border-radius: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.filtrer_option button {
    width: 10vw;
    padding-top: .2vw;
    padding-bottom: .2vw;
    height: fit-content;
    font-size: 1.11vw;
    font-weight: bold;
    border-radius: 50px;
}

.search_option button {
    width: 3vw;
    height: fit-content;
    border-radius: 50px;
}

/* Sticky Class using JavaScript */

.sticky {
    position: fixed;
    top: 1em;
}

/* --------Products container-------- */

.section_tittle {
    display: flex;
    justify-content: center;
    align-content: flex-end;
}

.section_tittle p {
    vertical-align: bottom;
    font-size: 10.42vw;
    font-weight: bold;
    color: #F1F0EC;
    margin: 0;
    margin-bottom: -2.5vw;
}

.main_wrapper {
    background-color: #F1F0EC;
    width: 95vw;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.shop_grid {
    display: grid;
    justify-items: center;
    padding: 3vw;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    column-gap: 1rem;
    row-gap: 1rem;
}

.shop_cart_sticky {
    margin-left: 90vw;
    display: flex;
    position: sticky;
    justify-content: flex-end;
    bottom: 1em;
}

.products {
    text-decoration: none;
    color: black;
}

.products .product_image {
    width: 15.21vw;
    height: 23.44vw;
    object-fit: cover;
    box-shadow: 0 0 8px 4px white;

}

.products .product_details {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.product_details .product_title{
    align-self: center;
    font-size: 1.11vw;
    font-weight: bold;
}

.product_details .product_buy {
    width: 8.26vw;
    height: 3.13vw;
    background-color: #e64a41;
    align-self: center;
    font-weight: bold;
    color: white;
}

.products :hover {
    transform: scale(1.15);
}

/* Footer styles */

.footer {
    position: relative;
    bottom: 0;
    margin-bottom: 0;
    padding-bottom: 3em;
    background-color: black;
    color: #f4f4f4;
    max-height: 10vh;
    width: 100%;
    font-size: 1.42vw;
    font-family: "FF Mark W05", Arial, sans-serif;
    text-decoration: none;
}

.footer__col {
    margin-left: 3%;
    margin-right: 3%;
    display: flex;
    justify-content: space-between;
}

/* Payment methods */
.footer__col-upper {
    display: block;
}

.payment-methods li {
    align-content: left;
    vertical-align: top;
    display: inline;
    align-self: right;
}

/* Social icons */

.footer-social-icons {
    width: 21.875em;
    display: block;
    margin: 0 auto;
}

._14 {
    margin-bottom: 1em;
}

.social-icon {
    color: #fff;
}

ul.social-icons {
    margin-top: 0.625em;
}

.social-icons li {
    vertical-align: top;
    display: inline;
    height: 6.25em;
}

.social-icons a {
    color: #fff;
    text-decoration: none;
}

.fa-facebook {
    padding: 10px 14px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    background-color: #322f30;
}

.fa-facebook:hover {
    background-color: #3d5b99;
}

.fa-twitter {
    padding: 10px 12px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    background-color: #322f30;
}

.fa-twitter:hover {
    background-color: #00aced;
}

.fa-youtube {
    padding: 10px 14px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    background-color: #322f30;
}

.fa-youtube:hover {
    background-color: #e64a41;
}

.fa-linkedin {
    padding: 10px 14px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    background-color: #322f30;
}

.fa-linkedin:hover {
    background-color: #0073a4;
}

/* contact info */

.footer_col-right {
    position: absolute;
    right: 2.19em;
    bottom: 2.19em;

}

/* copyright */

.copyright {
    position: absolute;
    font-size: 1.07vw;
    left: 50%;
    bottom: -3.5vh;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: #818080;
}